@use "../util" as u;

.header {
  &__logo {
    width: u.rem(45);

    @media (width >= u.rem(1110)) {
      width: u.rem(64);
    }
  }

  &__link {
    color: var(--c-dark-blue);
    font-size: u.rem(18);

    @media (width >= u.rem(1110)) {
      font-size: var(--f-body-text);
      color: var(--c-dark-grayish-blue);
    }
  }
}
