@use "../util" as u;

.new {
  background-color: var(--c-dark-blue);
  padding: u.rem(24) u.rem(20);

  @media (width >= u.rem(1110)) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  &__heading {
    font-size: var(--f-l);
    color: var(--c-orange);
  }

  &__post {
    border-block-end: 1px solid var(--c-grayish-blue);
    padding-block: u.rem(30);

    &:last-child {
      border: none;
    }
  }

  &__headline {
    display: inline-block;
    font-size: var(--f-s);
    font-weight: 800;
    color: var(--c-off-white);
    margin-block-end: #{u.rem(8)};
  }

  &__description {
    color: var(--c-grayish-blue);
  }
}
