@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3b4664;
  font-family: "League Spartan", sans-serif;
}

.container {
  max-width: 22rem;
  height: 60vh;
  margin: 10rem auto;
}

.head {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  color: #fff;
}

.theme_title {
  font-size: 0.7rem;
  text-transform: uppercase;
}

.theme-btns {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.theme {
  /* position: absolute;
  top: 0;
  right: 0; */
  background-color: hsl(224, 36%, 15%);
  display: inline-block;
  padding: 0 5px;
  border-radius: 15px;
  height: 1.2rem;
  width: 4rem;
}

.theme-btn {
  background-color: rgb(204, 56, 2);
  margin: 2.8px 1px;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  display: inline-block;
}

.display {
  background-color: hsl(224, 36%, 15%);
  width: 100%;
  height: 5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  position: relative;
}

.display h1 {
  color: #fff;
  text-align: right;
  font-size: 2rem;
  position: absolute;
  right: 5%;
  top: 33%;
  font-weight: 400;
  letter-spacing: 1px;
}

.display h4 {
  color: #bebebe;
  position: absolute;
  left: 5%;
  top: 43%;
  letter-spacing: 1px;
  font-weight: 400;
}

.keys {
  background-color: hsl(223, 31%, 20%);
  border-radius: 0.5rem;
  padding: 1.2rem;
  display: grid;
  gap: 1rem;
  /* grid-template-columns: auto auto auto 4.2rem; */
  grid-template-columns: 4.2rem 4.2rem 4.2rem 4.2rem;
  grid-template-rows: 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem;
}

.key,
.operator_key {
  background-color: hsl(30, 25%, 89%);
  border-radius: 0.5rem;
  text-align: center;
  padding: 10px 10px;
  font-family: "League Spartan", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: hsl(221, 14%, 31%);
  box-shadow: 0 3px 0 0 hsl(28, 16%, 65%);
  cursor: default;
}

.key:active,
.operator_key:active {
  box-shadow: 0 1px 0 0 hsl(28, 16%, 65%);
  transform: translateY(2px);
}

#del {
  color: hsl(0, 0%, 100%);
  background-color: hsl(225, 21%, 49%);
  text-transform: uppercase;
  box-shadow: 0 3px 0 0 hsl(224, 28%, 35%);
  font-size: 1.2rem;
}

#reset {
  grid-column: 1 / 3;
  color: hsl(0, 0%, 100%);
  background-color: hsl(225, 21%, 49%);
  text-transform: uppercase;
  box-shadow: 0 3px 0 0 hsl(224, 28%, 35%);
  font-size: 1.2rem;
}

#equal {
  color: hsl(0, 0%, 100%);
  grid-column: 3 / 5;
  background-color: hsl(6, 63%, 50%);
  box-shadow: 0 3px 0 0 hsl(6, 70%, 34%);
}

#del:active {
  box-shadow: 0 1px 0 0 hsl(224, 28%, 35%);
  transform: translateY(2px);
}
#reset:active {
  box-shadow: 0 1px 0 0 hsl(224, 28%, 35%);
  transform: translateY(2px);
}
#equal:active {
  box-shadow: 0 1px 0 0 hsl(6, 70%, 34%);
  transform: translateY(2px);
}
